body{
    margin: 0;
    padding: 0;
    font-family: consolas;
}
/*----------------section----------------*/
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    color: #fff;
}

section .content{
    max-width: 80%;
}
/*--------------------section 2-----------------*/
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    color: #fff;
}

section .content2{
    max-width: 80%;
}
/*--------------------------------h2----------------*/
section .content h2{
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 4em;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(0);
}

section .content h2[data-scroll="in"]{
    transform: scaleX(1);
}


section .content h2:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e02bff;
    transform-origin: right;
    transition: 0.5s;
}

section .content h2[data-scroll="in"]:before{
    transform: scaleX(0);
    transition-delay: 0.5s;
}

/*--------------------------------h3----------------*/
section .content h3{
    position: relative;
    margin: 5px 0 0;
    padding: 0;
    display: inline-block;
    font-size: 2em;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
}

section .content h3[data-scroll="in"]{
    transform: scaleX(1);
    transition-delay: 1s;
}


section .content h3:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffeb3b;
    transform-origin: left;
    transition: 0.5s;
}

section .content h3[data-scroll="in"]:before{
    transform: scaleX(0);
    transition-delay: 1.5s;
}
/*--------------------------Paragraph--------------*/
section .content p{
    font-size: 1.2em;
    transition: 1s;
    opacity: 0;
}

section .content p[data-scroll="in"]{

    opacity: 1;
    transition-delay: 1s;


}

/*-----------------------Anchor------------------*/
section .content a{
    position: relative;
    background: #fff;
    color: #262626;
    padding: 15px 30px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    transition: 1s;
    transform: translateX(100px);
    opacity: 0;
}

section .content a[data-scroll="in"]{
    transform: translateX(0);
    transition-delay: 1s;
    opacity: 1;

}

/*---------------------img------------------*/
 section .content img{
    max-width: 1200px;
    height: 80vh;
    position: relative;
    margin: 5px 0 0;
    padding: 0;
    display: inline-block;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
 }

 section .content img[data-scroll="in"]{
    transform: scaleX(1);
}

/*---------------------img content 2------------------*/
section .content2 img{
    max-width: 1200px;
    height: 80vh;
    position: relative;
    margin: 5px 0 0;
    padding: 0;
    display: inline-block;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(0);
 }

 section .content2 img[data-scroll="in"]{
    transform: scaleX(1);
}


/*------------------------------Mobile Screen-------------------------*/
@media (max-width: 500px) {
    section .content{
        bottom : 20px;
        margin-top: 200px;
    }
    section .content h2{
        font-size: 30px;
        margin-top: 35px;
    }
    section .content h3{
        font-size: 50px;
    }
    section .content p{
        font-size: 12px;
    }
    section .content a{
        font-size: 12px;
    }
    section .content img{
        margin-top: 10px;
    }
   
}
/*------------------------------Tablet Screen-------------------------*/
 @media(min-width:501px) and (max-width:768px) {
    section .content{
        bottom : 10px;
    }
    section .content h2{
        font-size: 40px;
    }
    section .content h3{
        font-size: 20px;
    }
    section .content p{
        font-size: 10px;
    }
    section .content a{
        font-size: 15px;
        padding: 15px 50px;
    }

    section .content img{
        margin : auto;
    }
} 

/*------------------------------Laptop Screen-------------------------*/
 @media(min-width:769px) and (max-width:1200px) {
    section .content{
        bottom : 10px;
    }
    section .content h2{
        font-size: 40px;
    }
    section .content h3{
        font-size: 20px;
    }
    section .content p{
        font-size: 10px;
    }
    section .content a{
        font-size: 15px;
        padding: 15px 50px;
    }

    section .content img{
        margin: 10px ;
    }
} 


/*------------------------------Wide Screen-------------------------*/
/* @media(min-width:1201px) {

} */

